@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --color-text-base: #ffffff;
    --color-text-muted : #c7d2fe;
    --color-text-inverted: #4f46e5;
    --color-fill: #4338ca;
    --color-button-accent: #ffffff;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: #6366f1;
    --color-black:#020203;
    --color-gray:#81A9D8;
    --color-footer:#150A21;
    --color-homepage:#1E1E1E;
    --color-cardtext:#466DFD;
    --color-rgbabg:#020203cc;
    /* --color-rgbbtn:linear-gradient(90deg, #FF3E3D 0%, #466DFD 100%); */
    


  }
  .theme-swice{
    --color-text-base: #ffffff;
    --color-text-muted : #fecaca;
    --color-text-inverted: #dc2626;
    --color-fill: #b91c1c;
    --color-button-accent: #ffffff;
    --color-button-accent-hover: #fef2f2;
    --color-button-muted: #ef4444;



  }
  .theme-neon{

    --color-text-base: #111802;
    --color-text-muted : #2f4306;
    --color-text-inverted: #ebfacc;
    --color-fill: #b3ff17;
    --color-button-accent: #243403;
    --color-button-accent-hover: #374f05;
    --color-button-muted: #d4ff7a;
   
  

  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}


.nbtn{
  background: rgba(71, 103, 251, 0.2);
border: 1px solid rgba(71, 103, 251, 0.3);
border-radius: 40px;
}
.nbtn1{
  background: rgba(71, 103, 251, 0.1);
border-radius: 38px;
padding: 7px 13px;
}
.ndark{
  background: linear-gradient(90deg, #FF3E3D 0%, #466DFD 100%);
  border-radius: 40%;
}
.bgld{
  background: rgba(71, 103, 251, 0.06);
border: 1px solid rgba(71, 103, 251, 0.2);
border-radius: 26px;
}
.nbtn2{
  background: linear-gradient(90deg, #FF3E3D 0%, #466DFD 100%);
border-radius: 38px;
}
.ficon{
  background: rgba(71, 103, 251, 0.1);
border: 1px solid rgba(71, 103, 251, 0.2);
border-radius: 5px;
padding: 5px;
margin: 2px;

}
.borderl-g{
  background: linear-gradient(90deg, #FF3E3D 0%, #466DFD 100%);
}
.bgbtn {
  background: linear-gradient(90deg, #FF3E3D 0%, #466DFD 100%);
border: 1px solid rgba(71, 103, 251, 0.2);
border-radius: 12px;
}
.bgbtn1{
  background: linear-gradient(90deg, #FF3E3D 0%, #466DFD 100%);
  border: 1px solid rgba(71, 103, 251, 0.2);

}
.bgbtn3{
  background: linear-gradient(90deg, rgba(255, 62, 61, 0.2) 0%, rgba(70, 109, 253, 0.2) 100%);
}
.progres{
  background: rgba(71, 103, 251, 0.2);
}
.hometext{
  background: linear-gradient(90deg, #FF3E3D 0%, #466DFD 100%);
}
.prog{
  background: linear-gradient(90deg, #FF3E3D 0%, #466DFD 100%);
  border-radius: 13px;
}
.bgimg1{
  background-image: url('./images/baner1.svg');
  background-position: 0% 95px;
  background-repeat: no-repeat;
  background-size: 100%


}
.bgimg2{
  background-image: url('./images/p3.svg');
  background-position: 0% ;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  

}
.bgcard{
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 62, 61, 0.2) 0%, rgba(255, 62, 61, 0) 100%);
  mix-blend-mode: screen;
}
.bgcard2{
  background: rgba(71, 103, 251, 0.1);
border-radius: 15px;
}
.bgcard3{
  background: rgba(70, 109, 253, 0.05);
border-radius: 15px;
}
.bgcard4{
  background: linear-gradient(90deg, rgba(255, 62, 61, 0.1) 0%, rgba(70, 109, 253, 0.1) 100%);
  border-radius: 15px;
}
.bgcard5{
  background: rgba(255, 255, 255, 0.15);
}
.bgcard6{
  background: rgba(70, 109, 253, 0.1);
}
.bgcard7{
  background: rgba(70, 109, 253, 0.1);
}
.bgimg3{
  background: radial-gradient(50% 50% at 50% 50%, rgba(243, 197, 34, 0.2) 0%, rgba(243, 197, 34, 0) 100%);
mix-blend-mode: screen;
}
.bgimg4{
  background: radial-gradient(50% 50% at 50% 50%, rgba(70, 109, 253, 0.2) 0%, rgba(70, 109, 253, 0) 100%);
mix-blend-mode: screen;
}
.bgchart{
  background: linear-gradient(90deg, rgba(255, 62, 61, 0.4) 0%, rgba(132, 43, 61, 0) 100%);
}
.bgtable{
  background: linear-gradient(90deg, #FF3E3D 0%, #466DFD 100%);
opacity: 0.15;
}